<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mypulse">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.HARDWARE_TEST.camera"
        android:requiredFeature="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".DPatientPresAcceptReject" />
        <activity android:name=".DoctorPatientDetailRecy" />
        <activity android:name=".DoctorNavigation" />
        <activity android:name=".DoctorDocumentPage" />
        <activity android:name=".PrescriptionAdd" />
        <activity android:name=".SelcetDoctor" />
        <activity android:name=".OTPVerification" />
        <activity android:name=".PrescriptionPage" />
        <activity android:name=".EditProfileHealthfiles" />
        <activity android:name=".SearchView" />
        <activity android:name=".DocumentPatient" />
        <activity
            android:name=".NavigationPage"
            android:label="bottom navigation" />
        <activity
            android:name=".Splash_Screen"
            android:label="My pulse"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration_My"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Choice_my"
            android:label="choice" />
        <activity
            android:name=".Login_my"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>